<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="main-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<title>IntoWorks</title>

		<th:block layout:fragment="title"></th:block>
		
	 	<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/base.css}">
   		<link rel="stylesheet" th:href="@{/css/vendor.css}"> 
  		<link rel="stylesheet" th:href="@{/css/main.css}"> 
  		<link rel="stylesheet" th:href="@{/css/test.css}"> 

				 
		<th:block th:fragment="script">
		<script th:src="@{/scripts/main.js}" defer></script>
		<script th:src="@{/scripts/jquery.min.js}" defer></script>
		<script th:src="@{/js/modernizr.js}"></script>
		<script th:src="@{/js/pace.min.js}"></script>
		<script th:src="@{/js/jquery-2.1.3.min.js}"></script>
   		<script th:src="@{/js/plugins.js}"></script>
  		<script th:src="@{/js/main.js}"></script>
		</th:block>
		
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">	
			
		<th:block layout:fragment="add-css"></th:block>
	</head>
</html>